certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.0.1
cryptography==39.0.0
distlib==0.3.6
filelock==3.9.0
idna==2.6
numpy==1.24.1
opencv-python==4.7.0.68
Pillow==9.4.0
platformdirs==2.6.2
pycparser==2.21
pyOpenSSL==23.0.0
requests==2.18.4
urllib3==1.22
virtualenv==20.17.1
